import React from 'react';
import { Story, Meta } from '@storybook/react';
import { <%= name %> } from './<%= kebabName %>';

export default {
  title: '<%= name %>',
  component: <%= name %>,
} as Meta;

const Template: Story = (args) => <<%= name %> {...args} />;

export const Primary = Template.bind({});
Primary.args = {};
